{% extends "base3.html" %}

<script>
{% block jquery %}
var endpoint = 'getData/'
var defaultDataMonths = []
var labelsMonths = [];
var defaultDataYears ;
var labelsYears = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labelsMonths = data.monthly.labels
        defaultDataMonths = data.monthly.default
        labelsYears = data.yearly.labels
        defaultDataYears = data.yearly.default
        console.log(defaultDataYears);
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById("myChart");
    var ctx2 = document.getElementById("myChart2");
    var myChart = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: labelsMonths,
        datasets: defaultDataMonths,
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labelsYears,
        datasets: defaultDataYears,
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            },
            ]
        }
    }
});
}


{% endblock %}
</script>
{% block dashboard %}

{% load static %}

<div class="col-md-10">
   <div class="container-fluid">
       <br>
    <div class="row">

      <div class="col-lg-3">
        <!-- small box -->
        <div class="small-box bg-info">
          <div class="inner">
            <h3>{{pendingInvoices}}</h3>
            <h5>Pending Invoices</h5>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3">
        <!-- small box -->
        <div class="small-box bg-success">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <h5>Revenue Change</h5>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>

        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3">
        <!-- small box -->
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>{{pendingOutstanding}}</h3>

            <h5>Pending Outstandings</h5>
          </div>
          <div class="icon">
            <i class="ion ion-person-add"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3">
        <!-- small box -->
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>{{revenue}}</h3>

            <h5>Revenue</h5>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
        </div>
      </div>
      <!-- ./col -->
        </div>
   </div>
    <div class="container">
        <div class="row">
            <div class="card col-md-6" style="">
                <div class="card-body">
                    <h5><b>Year Wise Insights</b></h5>
                    <canvas id = "myChart" height = "200"></canvas>
                </div>
            </div>

            <div class="card col-md-6">
                <div class="card-body">
                    <h5><b>Monthly Insights</b></h5>
                     <canvas id = "myChart2" height = "200"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock dashboard %}
