{% extends "base2.html" %}
{% load static %}
{% block dashboard %}

        <div class="col-md-10" id="main">
            <h1>Transactions</h1>



            {% for t in transactions %}
                <h3>Invoice No = {{ t.id }}</h3><br>
                {% for detail in t.data %}
                    <h5>{{ detail.amount }}</h5>
                    <h5>{{ detail.modeOfPayment }}</h5>
                    <br>
                {% endfor %}
                <hr>
            {% endfor %}
        </div>
{% endblock dashboard %}